body {
  background-color:#f6f6f6;
  margin:0;
  padding:0;
  font-family:Helvetica, sans-serif;
}

#slider {
  width: 100%;
  overflow: hidden;
}

#container {
  width: 100%;
  height:700px;
  position:relative;
  overflow: hidden;
  background:#330055
}

button {
  position: absolute;
  top: 160px;
  background: none;
  border:none;
  font-size: 30px;
  color:#FFF;
}
button:hover {color:#081368}
button#left {left: 20px;}
button#right {right: 20px;}

.item {
  width:100%;
  float:left;
  background:#CCC;
  height:700px;
  transition: all 1s;
  text-align:center;
  color: #FFFFFF;
  padding-top:80px;
  position:absolute;
}

.item h1 {font-size:60px;margin-bottom: 10px;}
.item p {font-size:20px;font-weight:lighter;}

.item#slide1 {
  h1 {font-size:30px;margin-bottom: 10px;}
  p {font-size:10px;font-weight:lighter;}
  text-align:right;
	background-image: url('../media/PhysicsFundamental.jpg');
}

.item#slide2 {
	background-image: url('../media/JuaraFisika2.jpg');
}

.item#slide3 {
  background-image: url('../media/ELearning2.jpg');
}

.item#slide4 {
  background-image: url('../media/JuaraFisika2.jpg');
}

$left: -100%;
$center: 0px;
$right: 100%;

.level-1  {left: $left;}
.level0 {left: $center;}
.level1 {left: $right;}

