/* Coolors Exported Palette - coolors.co/e59942-fbff8c-649b5e-58355e-441151 */

/* HSL */
$color1: hsla(32%, 76%, 58%, 1);
$color2: hsla(62%, 100%, 77%, 1);
$color3: hsla(114%, 24%, 49%, 1);
$color4: hsla(291%, 28%, 29%, 1);
$color5: hsla(288%, 65%, 19%, 1);

/* RGB */
$color1: rgba(229, 153, 66, 1);
$color2: rgba(251, 255, 140, 1);
$color3: rgba(100, 155, 94, 1);
$color4: rgba(88, 53, 94, 1);
$color5: rgba(68, 17, 81, 1);